[req]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[req_distinguished_name]
countryName                 = CA
countryName_default         = CA
stateOrProvinceName         = Alberta
stateOrProvinceName_default = Alberta
localityName                = Calgary
localityName_default        = Calgary
organizationName            = Aaron Fagan
organizationName_default    = Aaron Fagan
commonName                  = localhost
commonName_max              = 64
commonName_default          = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1   = my-computer.local
DNS.2   = my-computer-2.local
